<label>Server Name</label>
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
    > -->
    <input 
        type="text"
        [(ngModel)]="serverName"
        class="form-control"
        >
    {{ serverName }}
    <br>
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreareServer()"
    >Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
